
:root {
    /* Fonts */
  --primary-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;

   /* Color */
   --main-text-color:#2E2F42;
   --secondary-text-color: #434455;
   --light-text-color:#ffffff;

   --main-bg-color:#ffffff;
   --light-bg-color:#F4F4FD;
   --dark-bg-color:#2E2F42;

   
   /* Others */
    --logo-color:#4d5ae5 ;  
    --footer-text-color:#F4F4FD;
    --color-hover:#404bbf; 
}

body {
    font-family: var(--primary-font);
    color:#434455;
    background-color:var(--main-bg-color);
    letter-spacing: 0.02em;

}

/* reset start */

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

.location {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/**
  |============================
  | HEADER
  |============================
*/

header-page{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.header-logo{
    font-family:var(--secondary-font);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:var(--logo-color);
}

.studio-logo{
    color:var(--main-text-color);
}

/**
  |============================
  | MENU
  |============================
*/

.menu-link{
font-weight: 500;
font-size: 16px;
line-height: 1.5;
color:var(--main-text-color);
}

.menu-item, .link{
    text-decoration: none;
}

.menu-item:focus,
.menu-item:hover {   
    color:#404BBF;
}

/**
  |============================
  | CONTACTS
  |============================
*/

.contacts-nav{
    font-style: normal;
}

.contact-item{
    font-size: 16px;
    line-height: 1.5;
    color:var(--secondary-text-color);
}

.contact-item:hover,
.contact-item:focus{
    color:#404bbf ;   
}

/**
  |============================
  | HERO SECTION
  |============================
*/
.hero-page{
    background-color:var(--dark-bg-color);
}

.hero-title{
    font-size: 56px;
    line-height: 1.07;
    text-align:center;
    color:var(--light-text-color);
}

.modal-btn{
    background-color:#4D5AE5;
    font-family:var(--primary-font);
    font-weight:500;
    font-size: 16px;
    line-height:1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor:pointer;
}

.modal-btn:hover,
.modal-btn:focus{
    background-color: #404BBF;
}

/**
  |============================
  | FEATURE SECTION
  |============================
*/



.features-title{
    font-weight:500;
    font-size:20px;
    line-height:1.2;
    color:var(--main-text-color);
}

.features-text{
    font-weight: 400;
    font-size:16px;
    line-height:1.5;
    color:var(--secondary-text-color);
}

/**
  |============================
  | DOING SECTION
  |============================
*/
.work-title{
    font-weight: 700;
    font-size:36px;
    line-height:1.11;
    text-align:center;
    text-transform:capitalize;
    color:var(--main-text-color);
}

/**
  |============================
  | TEAM SECTION
  |============================
*/

.team-nav{
    background-color:var(--light-bg-color);
}


.team-card{
    background-color:#FFFFFF;
}

/* FOOTER */
.footer{
    background-color:var(--dark-bg-color);
}

.link{
    text-decoration: none;
}

.footer-logo{
    font-family:var(--secondary-font);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--logo-color);
}

.footer-logo-word{
    color:var(--footer-text-color);
}

.footer-text{
    font-family:var(--primary-font);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--footer-text-color);
}

/**
  |============================
  |  PORTFOLIO
  |============================
*/

body{
    letter-spacing: 0.02em;
    background-color: var(--main-bg-color);

}

.card-set{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.gallery-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: var(--main-text-color);
}

.gallery-text{
    font-size: 16px;
    line-height: 1.5;
    color: var(--secondary-text-color);
}

.list{
    list-style: none;
}

btn-set

display: flex;
flex-direction: row;
align-items: flex-start;
.button-nav{
    font-family:var(--primary-font);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color:var(--logo-color);
    background-color:var(--footer-text-color);
    cursor: pointer;
}

.button-nav:hover,
.button-nav:focus{
    color: #fff;
    background-color: #404BBF;
}
